/**
 * 说明：公共样式库 
 * 详细：样式库是只处理了导航条和footer部分
 * 创建人： 夏麒麟
 * 时间： 2018-04-09
 * */

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.banner {
	height: 336px;
	background: url(../img/banner.jpg) center no-repeat;
	background-size: cover;
}

a:hover {
	text-decoration: none;
}


/*间距*/

.space {
	margin-top: 40px;
}
.space-20 {
	margin-top: 20px;
}


/*导航条二级菜单图片*/

.imgContent {
	float: left;
	margin-right: 20px;
}

.imgContent a {
	margin-top: 20px;
	color: #484848;
	font-size: 14px;
	text-decoration: none;
}

.imgContent a:hover {
	margin-top: -5px;
}

.imgContent img {
	height: 170px;
}

/*导航条结束*/


/*热点*/

.right-content {
	margin-left: 20px;
}

.hot-content {
	margin-top: 30px;
	margin-bottom: 20px;
	text-indent: 2em;
}


/*浏览量和查看详情*/

.page-view,
.page-view span {
	/*color: #FF3B30; 红色*/
	color: #1B76A5;
	/*蓝色*/
}

.hot-footer span {
	margin-left: 4px;
}


/*查看详情*/

.hot-footer .detail {
	margin-top: -5px;
	padding: 6px 10px;
	background-color: #1B76A5;
	border-radius: 20px;
}

.hot-footer .detail a {
	font-size: 12px;
	color: #FFF;
}


/*新闻列表*/

.content-list {
	max-width: 600px;
	margin: 0 auto;
	margin-top: 50px;
}

.content-list .bottom-line {
	border-bottom: 2px dashed #ccc;
	padding: 20px 0;
}


/*日期*/

.content-list .date .day,
.content-list .date .year-month {
	text-align: center;
	color: #FFF;
}

.content-list .date .blue,
.content-list .date .blue {
	background: #1B76A5;
	/*蓝色*/
}


/*新闻到第5条，日期为灰色*/

.content-list .date .gray,
.content-list .date .gray {
	text-align: center;
	background: #ccc;
	color: #FFF;
}

.content-list .date .day {
	font-size: 36px;
	padding: 10px 0;
}

.content-list .date .year-month {
	margin-top: 10px;
}


/*父盒子*/

.news-list-item {
	overflow: hidden;
}


/*左边盒子*/

.content-list .picture {
	float: left;
	width: 150px;
	height: 100px;
	border: 1px solid yellow;
}


/*右边盒子*/

.content-list .news-title {
	max-width: 280px;
	/*需要转变成rem或者em*/
	float: left;
	margin-left: 20px;
	/*background-color: green;*/
}


/*新闻简介*/

.content-list .news-title .news-descript {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.content-list .news-title .news-descript a {
	font-size: 20px;
	color: #000;
}

.content-list .news-title .page-view {
	margin-top: 22px;
}


/*分页*/

.paging {
	margin-top: 30px;
}

.paging .prev {
	margin-right: 20px;
}


/*新闻简介 结束*/


/*页脚*/

.footer-bg {
	margin-top: 20px;
	padding: 10px 0;
	background-color: #000;
	color: #FFF;
}


/*=============底部图标链接=======================*/

.link-3 li {
	height: 50px;
	margin-right: 20px;
}


/*css3文字渐变*/

.link-3 a:hover {
	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#B2DFEE), to(#4876FF));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


/*.link-3 .wechat-hover {
	position: relative;
}

.link-3 .wechat-hover img {
	position: absolute;
	top: -50px;
	width: 0;
	height: auto;
	z-index: 2000;
	
}

.link-3 .wechat-hover:hover .link-3 .wechat-hover img.qrcode {
	transform: scale(1);
	opacity: 1;
	left: 0;
	top: 0;
	width: 50px;
}*/

.link-3 .wechat-hover {
	position: relative;
}

.link-3 .wechat-hover img {
	position: absolute;
	top: -80px;
	left: 30px;
	height: auto;
	transform: scale(0);
	transform-origin: bottom left;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	z-index: 20;
}

.link-3 .wechat-hover:hover img.qrcode {
	transform: scale(1);
	opacity: 1;
	left: 30px;
	top: -100px;
	width: 100px;
}


/*图标*/

.link-3 li i,
.link-2 li i {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	cursor: pointer;
	background-image: url(../img/icon.png);
}

.link-3 li .alibaba {
	background-position: -150px 0;
}

.link-3 li .weibo {
	background-position: -50px 0;
}

.link-3 li .toutiao {
	background-position: 0 12px;
}

.link-3 li .acfun {
	
	background-position: -200px 0;
}

.link-3 li .bilibili {
	background-position: -100px 0;
}

.link-3 li .wechat {
	background-position: -250px 0;
}

.link-3 li a {
	position: relative;
	top: -40%;
	margin-left: 20px;
	color: #FFF;
}


/*===================================*/


/*版权部分*/

.copyright {
	background-color: #353535;
	margin-top: 20px;
}

.footer-menu {
	padding: 0;
	margin: 0;
	list-style: none;
}

.footer-menu li {
	float: left;
}

.footer-menu li:after {
	content: "/";
	font-weight: 700;
	font-size: 18px;
	margin: 0 10px;
}

.footer-menu li:last-child:after {
	content: "";
}

.footer-menu li a {
	color: #FFF;
}

.footer-menu li a:hover {
	color: #0078a4;
}


/*页脚 结束*/