/** 设置padding**/
.paddbotm{
	padding-bottom: 10rem;
}
.paddbotm-2{
	padding-bottom: 5rem;
}
.paddbotm-3{
	padding-bottom: 3rem;
}
.paddlr{
	padding: 0 10rem;
}
.paddtp{
	padding-top: 10rem;
}
.paddtp-2{
	padding-top: 5rem;
}
.paddtp-3{
	padding-top: 3rem;
}
/** 核心技术部分 **/
.hx h2{
	padding-bottom: 2rem;
}

/** 案例展示部分 **/
.casebnner{
	background: url(../img/demo/blog_post.png);
	widows: 1000px;
	height: 300px;
}
.al h2{
	padding-bottom: 2rem;
}
/** 媒体查询 **/
@media screen and (max-width: 400px){
	.mp{
		width: 290px;
	}
}
